*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0b0b0b;
color:white;
}
header{
background:#000;
position:sticky;
top:0;
z-index:1000;
}


.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:16px 5%;
max-width:1200px;
margin:auto;
}

.logo h1{
color:#8b0c85;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:bold;
transition:0.3s;
}

.nav-links a:hover{
color:#8b0c85;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:black;
}

.logo{
font-size:24px;
color:#d63384;
font-weight:bold;
}

.menu{
display:flex;
list-style:none;
gap:30px;
}

.menu a{
text-decoration:none;
color:white;
transition:0.3s;
}

.menu a:hover{
color:#d63384;
}

.activo{
color:#d63384;
}


/* HERO */

.hero{
height:320px;
background:linear-gradient(90deg,#6a0dad,#d63384);
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:42px;
margin-bottom:10px;
}

.hero p{
font-size:18px;
}


/* BENEFICIOS */

.beneficios{
padding:80px 10%;
text-align:center;
}

.beneficios h2{
font-size:36px;
color:#d63384;
margin-bottom:50px;
}

.beneficios-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.card{
background:#151515;
padding:30px;
width:260px;
border-radius:10px;
}

.card h3{
color:#d63384;
margin-bottom:10px;
}

.card p{
color:#bbb;
}


/* FORMULARIO */

.contacto{
padding:80px 10%;
text-align:center;
}

.contacto h2{
font-size:36px;
color:#d63384;
margin-bottom:40px;
}

.formulario{
max-width:700px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

.input-group{
display:flex;
gap:20px;
}

input, textarea{

padding:15px;
border:none;
border-radius:8px;
background:#1b1b1b;
color:white;
}

textarea{
min-height:120px;
resize:none;
}

button{

padding:15px;
border:none;
border-radius:30px;
background:linear-gradient(90deg,#6a0dad,#d63384);
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:linear-gradient(90deg,#7b1fa2,#e91e63);
}



/* CONTACTO DIRECTO */

.contacto-directo{
display:flex;
justify-content:center;
gap:40px;
padding:60px 10%;
background:#111;
flex-wrap:wrap;
}

.box{
text-align:center;
}

.box h3{
color:#d63384;
margin-bottom:10px;
}

.box p{
color:#bbb;
}


/* FOOTER */

footer{
background:black;
padding:50px 10%;
}

.footer-container{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
}

.footer-container h3{
color:#d63384;
}

.copy{
text-align:center;
margin-top:40px;
color:#888;
}


/* RESPONSIVE */

@media(max-width:768px){

.menu{
display:none;
}

.hero h1{
font-size:30px;
}

.input-group{
flex-direction:column;
}

}