*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:#121212;
color:white;
}


/* NAVBAR */

header{
background:#000;
position:sticky;
top:0;
z-index:1000;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:16px 5%;
max-width:1200px;
margin:auto;
}

.logo h1{
color:#8b0c85;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:bold;
transition:0.3s;
}

.nav-links a:hover{
color:#8b0c85;
}


/* HERO */

.hero{
height:350px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;

background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url("https://www.shutterstock.com/image-photo/concert-venue-lights-audience-600nw-2590187047.jpg") center/cover;
}

.hero h2{
font-size:40px;
color:aliceblue;
}

.hero p{
font-size:20px;
margin-top:10px;
}


/* GENEROS */

.generos-section{
padding:70px 5%;
max-width:1200px;
margin:auto;
}

.section-title{
text-align:center;
font-size:36px;
margin-bottom:50px;
}

.generos-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.genero-card{
background:#181818;
border-radius:10px;
overflow:hidden;
transition:0.3s;
}

.genero-card:hover{
transform:translateY(-8px);
background:#282828;
}

.genero-card img{
width:100%;
height:200px;
object-fit:cover;
}

.card-content{
padding:20px;
text-align:center;
}

.card-content h3{
margin-bottom:10px;
}

.card-content p{
font-size:14px;
color:#B3B3B3;
margin-bottom:15px;
}

.card-content button{
background:#535ef8;
border:none;
padding:10px 20px;
border-radius:30px;
color:white;
cursor:pointer;
transition:0.3s;
}

.card-content button:hover{
background:#7983ff;
}


/* FOOTER */

footer{
background:#000;
padding:40px 5%;
}

.footer-content{
max-width:1200px;
margin:auto;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
}

.footer-section h3{
color:#8b0c85;
margin-bottom:10px;
}

.footer-section p{
color:#B3B3B3;
}

.footer-bottom{
text-align:center;
margin-top:30px;
border-top:1px solid #333;
padding-top:15px;
color:#B3B3B3;
}
/* RESPONSIVE */

@media(max-width:768px){

.navbar{
flex-direction:column;
gap:10px;
}

.hero{
height:350px;
padding:20px;
}

.hero-content h2{
font-size:32px;
}

.section-title{
font-size:30px;
}

.circulos{
gap:30px;
}

}